In [1]:
# Print Statements

In [2]:
123

123

In [3]:
123.123

123.123

In [7]:
print("Hello World!")

Hello World!

In [8]:
print(123)

123

In [9]:
print(123.123)

123.123

In [10]:
print("123")

123

In [11]:
print("My name is Solomon")
print("I am a boy")
print("I am 100 years old")

My name is Solomon
I am a boy
I am 100 years old

In [12]:
print("My name is Solomon", "I am a boy", "I am 100 years old")

My name is Solomon I am a boy I am 100 years old

In [19]:
print("*************************")
print("***** Solomon  Mbak *****")
print("*************************")

*************************
***** Solomon  Mbak *****
*************************