In [1]:
# variableName = content

# Declear variables
age_1 = 10
age_2 = 20
firstPerson = "Solomon Mbak"
secondPerson = "Evelyn Jane Doe"

In [2]:
# Print the contents of the variables
print(age_1)
print(age_2)
print(firstPerson)
print(secondPerson)

10
20
Solomon Mbak
Evelyn Jane Doe

In [5]:
print("My name is ",firstPerson,"I am",age_1,"years old.")
print(firstPerson,"is a friend of", secondPerson, " and they have known each other for", age_2,"years.")

My name is  Solomon Mbak I am 10 years old.
Solomon Mbak is a friend of Evelyn Jane Doe  and they have known each other for 20 years.

In [9]:
12 / 12

1.0

In [13]:
(age_1 * age_2) / (age_1 * 10) + (100 + 202020)

202122.0

In [18]:
userInput = float(input("What do you earn?"))
usersTax = (7.5/100) * userInput

print("Since you earn",userInput, "your tax will be",usersTax)

What do you earn?200.123
Since you earn 200.123 your tax will be 15.009224999999999

In [19]:
# Convert temperature to Celsius
# 9/5 * temperature + 32

temperature = float(input("What is the temperature?"))
toCelsius = (9/5) * temperature + 32

print(toCelsius)

What is the temperature?585
1085.0

In [21]:
ab, bc = 11, 220
print(ab)
print(bc)

11
220

In [22]:
print(ab + bc)

231