# Set

In [1]:
# setName = set([1,2,3,4,5])

In [3]:
firstSet = set()
firstSet

set()

In [4]:
type(firstSet)

set

In [14]:
firstSet.add(50)
firstSet

{10, 20, 40, 50}

In [15]:
secondSet = set()

In [20]:
secondSet.add(80)
secondSet

{20, 50, 70, 80}

In [26]:
print(firstSet.union(secondSet))
print(firstSet.intersection(secondSet))
print(secondSet.difference(firstSet))
print(firstSet.difference(secondSet))

{70, 40, 10, 80, 50, 20}
{50, 20}
{80, 70}
{40, 10}

In [29]:
firstSet

{10, 20, 40, 50}

In [31]:
10 in firstSet

True

In [82]:
firstSet

{10, 20, 40, 50}

# Dictionary

In [34]:
# dictName = {key1:value1, key2:value2}
# a = {}
# var = dict[]

In [36]:
firstDict = {"Solomon":10, "Eva":20}
firstDict

{'Solomon': 10, 'Eva': 20}

In [37]:
type(firstDict)

dict

In [38]:
firstDict["John"] = 15
firstDict

{'Solomon': 10, 'Eva': 20, 'John': 15}

In [39]:
firstDict["Jane"] = 25
firstDict

{'Solomon': 10, 'Eva': 20, 'John': 15, 'Jane': 25}

In [45]:
print(firstDict["Jane"])

25

In [47]:
print(secondDict)
print(firstDict)

{'Solomon': 10, 'Eva': 20, 'John': 15, 'Jane': 25}
{'Solomon': 10, 'Eva': 20, 'John': 15, 'Jane': 25}

In [48]:
secondDict[123] = "location"

In [49]:
secondDict

{'Solomon': 10, 'Eva': 20, 'John': 15, 'Jane': 25, 123: 'location'}

In [51]:
firstDict["Jobs"] = ("Doctor","Lawyer","Banker")
firstDict

{'Solomon': 10,
 'Eva': 20,
 'John': 15,
 'Jane': 25,
 'Jobs': ('Doctor', 'Lawyer', 'Banker')}

In [53]:
print(firstDict.keys())
print(firstDict.values())

dict_keys(['Solomon', 'Eva', 'John', 'Jane', 'Jobs'])
dict_values([10, 20, 15, 25, ('Doctor', 'Lawyer', 'Banker')])

In [54]:
thirdDict = firstDict.copy()
thirdDict

{'Solomon': 10,
 'Eva': 20,
 'John': 15,
 'Jane': 25,
 'Jobs': ('Doctor', 'Lawyer', 'Banker')}

In [55]:
thirdDict.update(secondDict)
thirdDict

{'Solomon': 10,
 'Eva': 20,
 'John': 15,
 'Jane': 25,
 'Jobs': ('Doctor', 'Lawyer', 'Banker'),
 123: 'location'}

In [56]:
print(firstDict)
print(secondDict)

{'Solomon': 10, 'Eva': 20, 'John': 15, 'Jane': 25, 'Jobs': ('Doctor', 'Lawyer', 'Banker')}
{'Solomon': 10, 'Eva': 20, 'John': 15, 'Jane': 25, 123: 'location'}

In [58]:
thirdDict.items()

dict_items([('Solomon', 10), ('Eva', 20), ('John', 15), ('Jane', 25), ('Jobs', ('Doctor', 'Lawyer', 'Banker')), (123, 'location')])

In [59]:
thirdDictBackup = thirdDict.copy()

In [61]:
thirdDict.clear()
thirdDict

{}

In [63]:
thirdDict = thirdDictBackup.copy()

In [64]:
thirdDict

{'Solomon': 10,
 'Eva': 20,
 'John': 15,
 'Jane': 25,
 'Jobs': ('Doctor', 'Lawyer', 'Banker'),
 123: 'location'}

# Example

In [83]:
firstSet

{10, 20, 40, 50}

In [88]:
firstSet.add("solomon")
firstSet

{10, 20, 40, 50, 'Solomon', 'solomon'}